@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

* , html, body, p {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* container-grid */
.container-grid {
    display: grid;
    overflow: hidden;
    max-inline-size: 25rem;
    border-radius: 15px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#calc-result {
    padding: 1rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    text-align: justify;
    background: grey;
    color: whitesmoke;
}

#calc-entry {
    padding: 1rem;
    font-size: 3.5rem;
    width: 101%;
    text-align: end;
    background: grey;
    color: whitesmoke;
}

.calc-inputs {
    height: 25rem;
    width: 25rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* btn */
.btn {
    font-size: 2rem;
    font-weight: bolder;
    border: 0.3px solid cadetblue;
    color: white;
    background-color: #223850;
}

.btn-operator {
    color: chartreuse;
}

.btn-all-clear {
    color: red;
}

.zero {
    grid-column: span 2;
}

.btn-equal {
    grid-row: span 2;
    background-color: green;
    color: white;
}

.btn:hover {
    background-color: cadetblue;
}
